{% extends 'user_auth/base.html' %}

{% block content %}

<!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<div class="container my-5">
    <!-- Product Details Section -->
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6 text-center">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded shadow" alt="{{ product.brand }} - {{ product.model }}" />
            {% else %}
    <p>No image available</p>
{% endif %}
        </div>


        <!-- Product Info -->
        <div class="col-md-6">
            <h1 class="text-secondary">{{ product.brand }} - {{ product.model }}</h1>
            <hr />
            <p>
                <strong>Category:</strong> {{ product.category }}
            </p>
            <p>
                <strong>Price:</strong> ${{ product.price }}
            </p>
            <p>
                <strong>Description:</strong> {{ product.description }}
            </p>

            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
            <br>
            <a href="{% url 'show-products' %}" class="btn btn-outline-secondary mt-4">
                <i class="bi bi-arrow-left"></i> Back to Product List
            </a>
            <p> ID: {{product.id}}</p>
            <button type="button" value="{{product.id}}" class="btn btn-outline-secondary mt-4" id="add-cart"> Add to cart</button>
        </div>
    </div>
</div>

<script>

<!--    checking if button pressed-->
    $(document).on('click', '#add-cart', function(e){

    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'cart-add' %}",
        data: {
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            console.log(json)
<!--    i dont really need line above         -->
            document.getElementById("cart_quantity").
                textContent = json.qty
                location.reload();
            },
            error: function(xhr, errmsg, err){
            }

    });

    })

</script>



{% endblock %}