{% extends 'user_auth/base.html' %}

{% block content %}

<!--Header-->

  <header class="header-bg py-5">
    <div class="container px-4 px4lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> About Us ...</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Welcome at Thymallus...</p>
        </div>
    </div>
</header>

  <div class="container">
    <div class="row justify-content-center">

        <div class="col-8 text-center">
          <br/><br/>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae augue laoreet, rhoncus ipsum at, luctus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam consequat eu massa non tincidunt. Nulla condimentum, felis eget feugiat convallis, massa ligula ullamcorper nisi, at pharetra turpis massa ornare enim. Mauris ac ipsum molestie ante tempor pulvinar sit amet id nisl. Integer a turpis rhoncus augue sagittis ultricies commodo nec mi. Cras vel ligula nec nunc tristique finibus a eget risus. Aliquam non risus sed augue tristique consectetur.
          <br/><br/>
          Etiam at dui gravida orci laoreet laoreet malesuada dignissim mauris. Nulla massa justo, sodales eget posuere vel, ultricies non leo. Ut tincidunt sollicitudin risus, sit amet tincidunt diam laoreet in. Aenean ut mi at lacus blandit iaculis. Ut a nulla felis. Suspendisse convallis sagittis ultrices. Sed efficitur felis vitae mi auctor, eu cursus nulla hendrerit. Proin aliquet justo lectus, et eleifend lacus ullamcorper in.
          <br/><br/>
          Vestibulum lacinia metus ac erat hendrerit pulvinar. Cras tortor justo, varius non ornare a, varius vel sapien. Vestibulum sed malesuada risus, vitae interdum ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id dapibus purus. Nunc nec eros sed diam ultrices accumsan nec id mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi.
          <br/><br/>
          Aliquam quis rutrum mauris. Praesent nec ultrices nisl. Donec quis sem vel massa sagittis molestie sit amet congue libero. Maecenas non massa cursus, fermentum est quis, fringilla enim. Suspendisse congue, mauris sit amet mollis bibendum, justo purus dictum libero, in molestie mauris erat eget dui. Aliquam sagittis sagittis metus quis consequat. Aliquam vestibulum risus vel pellentesque pretium. Duis augue diam, sollicitudin vel facilisis ut, efficitur at dolor. Donec et hendrerit erat. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a lectus eget augue malesuada interdum.
          </p>
        </div>
    </div>
  </div>

{% endblock %}